.home-img {
    margin-top: 20px;
    display: block;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .header-home {
    color:rgb(70, 80, 91);
    font-weight: 750;
    text-align: center;
  }